// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      )));

$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      )));

html {
  // Default to light theme
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);

  &.dark-theme {
    @include mat.all-component-themes($dark-theme);
    @include mat.system-level-colors($dark-theme);
    @include mat.system-level-typography($dark-theme);
    color-scheme: dark;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  transition: background-color 0.3s ease, color 0.3s ease;
}